form {
    margin: 0 auto;
    width: 280px;
    display: flex;
    flex-direction: column;
    border: 1px solid;
}

.contactBlock {
    min-height: 75vh;
    background-color: #ffccd5;
    padding-top: 50px;
}

.title {
    background-color: #aab6c2;
}

.formContainer {
    border: 1px  red solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contactContainer {
    justify-content: center;
    padding-top: 10px;
}

