.skillsBlock {
    min-height: 75vh;
    background-color: #d5ffbd;
    padding-top: 50px;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title {
    background-color: #fff0f1;
}